html {
  scroll-behavior: smooth;
}

#logo {
  max-width: 10%;
  position: fixed;
/*permet de ne pas le faire bouger, ici ça me sert pour faire descendre le logo*/
  margin-top: 1em;
  margin-left: 3.5em;
}


.menu {
  /*margin-left: 18.5em;
  margin-top: -5em;*/
  max-width: 90em;
  margin-top: 2em;
  margin-left: 18em;
  padding-bottom: 2em;
}

.menu li {
  color: rgb(172, 172, 172);
  margin: 0.8em;
  display: inline-block;
}

.menu a:link, a:visited {
  text-decoration: none;
  color: rgb(172, 172, 172);
  scroll-behavior: smooth;
}

.menu a:hover{
  color:  rgb(214, 43, 43);
}
/*a:hover permet de modifier quelques choses des liens ancrés lorsque le curseur de la souris passe dessus*/

body {
  background-color: rgb(248, 242, 242);
  /*margin-left: 22em;
  margin-right: 6em;*/
}

h1,h2 {
  color: rgb(214, 43, 43);

}

h3 {
  color: rgb(214, 43, 43);
  text-align: center;
  margin-bottom: 1.3em;

}

p {
  color: rgb(82, 82, 217);
  /*column-gap permet de modifier l'espacement entre les colones*/
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.contener {
  max-width: 960px;
  margin-left: 20vw;
  /*view port est la taille d'écran*/
}

.articles img {
  border-radius: 4em;
}

.articles li {
  color: rgb(214, 43, 43);
  margin: 0.8em;
  display: inline-block;
}

.images_chapitres {
  max-width: 100%;
  margin-bottom: -4.5em;
  border-radius: 4em;
  /*border-radius permet d'arrondir les bords d'une image*/
}

.image_center {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  /*permet de centrer un element*/
  margin-top: 2em;
  margin-bottom: 2em;
}

.image_center img {
  width: 100%;
}

footer {
  background-color: rgb(214, 43, 43);
  height: 7em;
}
.menu_footer{
  margin-left: 21vw;
}

.menu_footer li {
  display: inline-block;
  max-width: 960px;
  margin-top: 3.5em;
  padding-left: 2em;
}

.menu_footer a:link, a:visited {
  text-decoration: none;

}

.menu_footer a:hover{
  color:  rgb(255, 255, 255);
}

@media (min-width: 800px) {
  p{
    column-count: 2;
    column-gap: 4em;
  }
}
